footer{
    background: var(--background-color);
    padding: 15px 23px;
    color: var(--text-color);
    text-align: center;

    a{
        color: var(--bg-color);
        text-decoration: none;
        font-size: 18px;
    }
    p{
        
    }
}