*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

// .about .about-content,
// .services .serv-content,
// .skills .skills-content,
// .contact .contact-content{
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: space-between;
// }