@media (max-width: 992px){
    #navbar{
        .max-width{
            padding: 0 30px;

            .logo{
                a{
                    font-size: 40px;
                }
            }
        }
    }
    #home{
        .max-width{
            padding: 0 70px;

            .home-content{
                .text-2{
                    font-size: 40px;
                    margin-left: -15px;
                }
                .text-3{
                    font-size: 28px;
                    margin-left: 25px;
                }
                a{
                    font-size: 20px;
                    margin-left: 105px;
                }
            }
        }
    }
    #about{
        .max-width{
            padding: 0 40px;

            .about-content{
                .left{
                    img{
                        width: 350px;
                        height: 350px;
                    }
                }
            }
        }
    }
    #service{
        .max-width{
            padding: 0 39px;
        }
    }
    #teams{
        .max-width{
            padding: 0 40px;
        }
    }
    #contact{
        .max-width{
            padding: 0 40px;
            .contact-content{
                .column-left{
                    margin-right: 35px;
                }
            }
        }
    }
}
// @media (max-width: 768px){
//     .max-width{
//         padding: 0 45px;
//     }
// }
// @media (max-width: 768px){
//     .max-width{
//         padding: 0 45px;
//     }
// }
// @media (max-width: 768px){
//     .max-width{
//         padding: 0 45px;
//     }
// }
// @media (max-width: 768px){
//     .max-width{
//         padding: 0 45px;
//     }
// }