@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section {
  padding: 100px 0;
}

:root {
  --background-color: #111111;
  --bg-color: #DC143C;
  --text-color: #FFFFFF;
  --other-color: #3742fa;
}

#navbar {
  width: 100%;
  position: fixed;
  padding: 30px 0;
  z-index: 999;
}
#navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar .max-width .logo a {
  font-size: 35px;
  font-weight: 600;
  color: var(--text-color);
}
#navbar .max-width .logo a span {
  color: var(--other-color);
}
#navbar .max-width .menu li {
  display: inline-block;
}
#navbar .max-width .menu li a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-left: 25px;
  color: var(--text-color);
  background: transparent;
  border-radius: 30px;
  padding: 10px 15px;
  transition: 0.3s all ease;
}
#navbar .max-width .menu li a:hover {
  color: var(--background-color);
  background: var(--text-color);
}

.home {
  display: flex;
  background: url(Img/Home.jpg) no-repeat center;
  height: 100vh;
  color: var(--text-color);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .max-width .home-content .text-1 {
  font-size: 27px;
  margin-left: 75px;
}
.home .max-width .home-content .text-2 {
  font-size: 50px;
  font-weight: 700;
  margin-left: -55px;
}
.home .max-width .home-content .text-3 {
  font-size: 35px;
  margin: 5px 0;
}
.home .max-width .home-content a {
  display: inline-block;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 25px;
  padding: 12px 30px;
  margin-top: 20px;
  margin-left: 90px;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid #0097e6;
  transition: 0.3s all ease;
}
.home .max-width .home-content a:hover {
  color: var(--bg-color);
  background: none;
}

#about h2 {
  font-size: 40px;
  text-align: center;
  margin: 40px;
}
#about .about-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#about .about-content .left {
  width: 45%;
}
#about .about-content .left img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
#about .about-content .right {
  width: 55%;
}
#about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
#about .about-content .right .text span {
  color: var(--bg-color);
}
#about .about-content .right p {
  display: block;
  font-size: 20px;
}
#about .about-content .right a {
  display: inline-block;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  border-radius: 5px;
  border: 2px solid #0097e6;
  transition: 0.3s all ease;
}
#about .about-content .right a:hover {
  background: none;
  color: var(--bg-color);
}

#service {
  background: var(--background-color);
  color: var(--text-color);
}
#service .title {
  position: relative;
  text-align: center;
  color: var(--text-color);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 60px;
}
#service .service-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#service .service-content .card {
  width: calc(33% - 20px);
  background: #222222;
  text-align: center;
  padding: 50px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s all ease;
}
#service .service-content .card:hover {
  background: var(--bg-color);
}
#service .service-content .card:hover .box {
  transform: scale(1.05);
}
#service .service-content .card .box {
  transition: 0.3s all ease;
}
#service .service-content .card .box i {
  font-size: 60px;
  color: #00a8ff;
  font-weight: 900;
}
#service .service-content .card .box .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
#service .service-content .card .box p {
  font-size: 18px;
  font-weight: 500;
}

#skills {
  width: 100%;
  height: auto;
  background: #dfe4ea;
}
#skills .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 60px;
}
#skills .skill-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#skills .skill-content .column-left {
  width: calc(50% - 30px);
}
#skills .skill-content .column-left .text h5 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 20px;
}
#skills .skill-content .column-left p {
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
  display: block;
}
#skills .skill-content .column-left a {
  display: inline-block;
  background: var(--bg-color);
  font-size: 20px;
  color: var(--text-color);
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 20px;
  border: 2px solid #0097e6;
  transition: 0.3s all ease;
}
#skills .skill-content .column-left a:hover {
  background: none;
  color: var(--background-color);
}
#skills .skill-content .column-right {
  width: calc(50% - 30px);
}
#skills .skill-content .column-right .bars {
  margin-bottom: 15px;
}
#skills .skill-content .column-right .bars .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
#skills .skill-content .column-right .bars .info span {
  font-size: 18px;
  font-weight: 600;
}
#skills .skill-content .column-right .bars .line {
  height: 5px;
  width: 100%;
  background: #dfe4ea;
  position: relative;
}
#skills .skill-content .column-right .bars .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--bg-color);
}
#skills .skill-content .column-right .bars .html::before {
  width: 90%;
}
#skills .skill-content .column-right .bars .css::before {
  width: 60%;
}
#skills .skill-content .column-right .bars .js::before {
  width: 80%;
}
#skills .skill-content .column-right .bars .php::before {
  width: 50%;
}
#skills .skill-content .column-right .bars .mysql::before {
  width: 70%;
}

#teams {
  background: var(--background-color);
  color: var(--text-color);
}
#teams .title {
  position: relative;
  text-align: center;
  color: var(--text-color);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
#teams .carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#teams .carousel .card {
  width: calc(33% - 20px);
  background: #222222;
  text-align: center;
  overflow: hidden;
  padding: 25px 35px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s all ease;
}
#teams .carousel .card:hover {
  background: var(--bg-color);
}
#teams .carousel .card:hover .box {
  transform: scale(1.05);
}
#teams .carousel .card:hover img {
  border-color: #fff;
}
#teams .carousel .card .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#teams .carousel .card .box img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 5px solid #DC143C;
}
#teams .carousel .card .box .text h4 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px;
}
#teams .carousel .card .box .text p {
  font-size: 18px;
}

#contact .title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
#contact .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact .contact-content .column-left {
  width: calc(50% - 30px);
}
#contact .contact-content .column-left .text h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
#contact .contact-content .column-left .text p {
  text-align: justify;
  font-size: 18px;
  margin-bottom: 10px;
}
#contact .contact-content .column-left .icons {
  margin: 10px 0;
}
#contact .contact-content .column-left .icons .row {
  display: flex;
  height: 60px;
  align-items: center;
}
#contact .contact-content .column-left .icons .row i {
  font-size: 33px;
  color: var(--bg-color);
}
#contact .contact-content .column-left .icons .row .info {
  margin-left: 30px;
}
#contact .contact-content .column-left .icons .row .info .head {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 5px;
}
#contact .contact-content .column-left .icons .row .info .sub-title {
  color: #7f8fa6;
  font-size: 20px;
}
#contact .contact-content .column-right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
#contact .contact-content .column-right form .fields {
  display: flex;
}
#contact .contact-content .column-right form .fields .field-name {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  margin-right: 15px;
}
#contact .contact-content .column-right form .fields .field-name input {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  padding: 0 10px;
  font-size: 17px;
  outline: none;
  border-radius: 6px;
  transition: 0.3s all ease;
}
#contact .contact-content .column-right form .fields .field-name input:hover {
  background: var(--bg-color);
}
#contact .contact-content .column-right form .fields .field-email {
  width: 100%;
  height: 45px;
}
#contact .contact-content .column-right form .fields .field-email input {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  padding: 0 10px;
  font-size: 17px;
  border-radius: 6px;
  transition: 0.3s all ease;
}
#contact .contact-content .column-right form .fields .field-email input:hover {
  background: var(--bg-color);
}
#contact .contact-content .column-right form .field-area {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
}
#contact .contact-content .column-right form .field-area input {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  padding: 0 10px;
  font-size: 17px;
  border-radius: 6px;
  transition: 0.3s all ease;
}
#contact .contact-content .column-right form .field-textarea {
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
}
#contact .contact-content .column-right form .field-textarea input {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  padding: 0 10px;
  font-size: 17px;
  border-radius: 6px;
  transition: 0.3s all ease;
}
#contact .contact-content .column-right form a {
  outline: none;
  font-size: 18px;
  padding: 10px 13px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid #0097e6;
  background: var(--bg-color);
  color: var(--text-color);
}

footer {
  background: var(--background-color);
  padding: 15px 23px;
  color: var(--text-color);
  text-align: center;
}
footer a {
  color: var(--bg-color);
  text-decoration: none;
  font-size: 18px;
}
footer p {
  display: inline-block;
}

@media (max-width: 992px) {
  #navbar .max-width {
    padding: 0 30px;
  }
  #navbar .max-width .logo a {
    font-size: 40px;
  }
  #home .max-width {
    padding: 0 70px;
  }
  #home .max-width .home-content .text-2 {
    font-size: 40px;
    margin-left: -15px;
  }
  #home .max-width .home-content .text-3 {
    font-size: 28px;
    margin-left: 25px;
  }
  #home .max-width .home-content a {
    font-size: 20px;
    margin-left: 105px;
  }
  #about .max-width {
    padding: 0 40px;
  }
  #about .max-width .about-content .left img {
    width: 350px;
    height: 350px;
  }
  #service .max-width {
    padding: 0 39px;
  }
  #teams .max-width {
    padding: 0 40px;
  }
  #contact .max-width {
    padding: 0 40px;
  }
  #contact .max-width .contact-content .column-left {
    margin-right: 35px;
  }
}/*# sourceMappingURL=style.css.map */